<div class="container">
  <div class="row justify-content-center">
    <div class="col-5 align-self-center">
     <div class="p-3 border bg-light">
       <div [class]="alertStyle" role="alert" >
         <strong>{{message}}</strong>
       </div>
    </div>
  </div>
  
  </div>
  <div class="row justify-content-center">
    <div class="col-5 align-self-center">
     <div class="p-3 border bg-light">
      <div *ngIf="isLoading; else examListTemplate">
        <ngx-spinner size="medium" [type]="typeSelected"></ngx-spinner>
        </div>
        <ng-template #examListTemplate>
          <zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>
        </ng-template>
     </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
